# TUGAS
# Pengenalan Dasar Library Pandas

Kelompok 1

1.SYIFARIANI KAMIL

2.MAURA LUTVIA

3.SELVI

4.ANDY KANJAYA

5.FURQON ALI ABDILAH

In [ ]:
# import libraries

In [1]:
# Membuat array "df" satu dimensi dengan Pandas
# nilainya [1,3,4,5]
import pandas as pd

# Membuat array satu dimensi dengan Pandas
df = pd.Series([1, 3, 4, 5], name="Nama")


# Membuat dataframe dengan nilai berikut:
# 'Nama' : ['Andi', 'Budi', 'Dodo', 'Ema', 'Kari']
# 'Nilai' : [80, 20, 90, 40, 55]
# 'Kelas' : ['3B', '3A', '3B', '3B', '3A']
data = {
    'Nama': ['Andi', 'Budi', 'Dodo', 'Ema', 'Kari'],
    'Nilai': [80, 20, 90, 40, 55],
    'Kelas': ['3B', '3A', '3B', '3B', '3A']
}
df = pd.DataFrame(data)


# Print seluruh baris pada kolom Nam
print(df['Nama'])
# Sortir data berdasarkan Nilai tertinggi ke Nilai terendah
df_sorted = df.sort_values(by='Nilai', ascending=False)
print(df_sorted)

0    Andi
1    Budi
2    Dodo
3     Ema
4    Kari
Name: Nama, dtype: object
   Nama  Nilai Kelas
2  Dodo     90    3B
0  Andi     80    3B
4  Kari     55    3A
3   Ema     40    3B
1  Budi     20    3A

# Bermain dengan Real Data
1. Download data dari link berikut: https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries/

2. Save ds_salaries.csv pada Google Drive

In [21]:
# load data ds_salaries.csv dengan nama variabel "df"
import pandas as pd

path_to_file = 'ds_salaries.csv'

try:
    df = pd.read_csv(path_to_file)
    print(df.head())
except FileNotFoundError:
    print(f"File '{path_to_file}' not found. Please check the file path.")

File 'ds_salaries.csv' not found. Please check the file path.

In [3]:
# print 5 baris teratas
print(df.head())
# print 5 baris terakhir
print(df.tail())

   Nama  Nilai Kelas
0  Andi     80    3B
1  Budi     20    3A
2  Dodo     90    3B
3   Ema     40    3B
4  Kari     55    3A
   Nama  Nilai Kelas
0  Andi     80    3B
1  Budi     20    3A
2  Dodo     90    3B
3   Ema     40    3B
4  Kari     55    3A

In [5]:
# Print nama kolom
print(df.columns)

Index(['Nama', 'Nilai', 'Kelas'], dtype='object')

In [19]:
# Tampilkan data baris ke 5-10 pada
rows_5_to_10 = df.iloc[4:9]  # Indeks dimulai dari 0, sehingga 4:9 mencakup baris 5-10
print(rows_5_to_10)
# Tampilkan data baris ke 5-10 pada kolom job_title dan company_location
selected_rows_and_columns = df.loc[4:9, ['Nama', 'Nilai', 'Kelas']]
print(selected_rows_and_columns)

   Nama  Nilai Kelas
4  Kari     55    3A
   Nama  Nilai Kelas
4  Kari     55    3A

In [17]:
# Check if 'salary_in_usd' is in the DataFrame columns
if 'salary_in_usd' in df.columns:
    print("Column 'salary_in_usd' is present the DataFrame.")
else:
    print("Column 'salary_in_usd' is not present in the DataFrame.")

Column 'salary_in_usd' is not present in the DataFrame.

In [8]:
# Simpan data baris ke 5-20 ke bentuk .csv dengan nama "sparse.csv"
subset_df = df.iloc[4:19]  # Rows 5 to 20 (index 4 to 19)